@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-w-full bg-gray-200 font-main;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

a, input, button {
  @apply outline-none;
}

.btn {
  @apply p-2 font-bold text-white transition duration-500 ease-out bg-orange-400 border-2 border-orange-400 rounded-lg shadow-md outline-none cursor-pointer hover:bg-orange-600 hover:border-orange-600 focus:outline-none;
}

.error {
  @apply p-2 text-center text-red-500 bg-red-100 border border-red-500;
}

/* Disable arrows on number-type inputs */

/* Chrome, Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: none;
  -moz-appearance: textfield; 
}

/* Table styles */
td {
  @apply text-center
}
tr {
  @apply h-14
}
tr:nth-child(odd) {
  @apply bg-orange-100
}
thead td {
  @apply bg-orange-400
}

/* Replace original checkbox style */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  @apply relative inline-block align-middle transition duration-300 ease-out bg-white border border-black rounded-md cursor-pointer min-w-6 min-h-6 top-px;
}

input[type="checkbox"]:checked + span {
  @apply bg-orange-400 border-white;
}

input[type="checkbox"]:checked + span + label {
  @apply text-orange-400 transition duration-300 ease-out;
}