/* Disable arrows on number type input */

/* Chrome, Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: none;
  -moz-appearance: textfield; 
}

/* Replace original checkbox style */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  @apply inline-block relative min-w-6 min-h-6 top-px align-middle cursor-pointer border border-black rounded-md bg-white transition ease-out duration-300;
}

input[type="checkbox"]:checked + span {
  @apply bg-orange-400 border-white;
}

input[type="checkbox"]:checked + span + label {
  @apply text-orange-400 transition ease-out duration-300;
}